

<!-- <div class="container-fluid video">
  <div class="row mt-5 px-5">
    <h1 class="h1-class text-center">Video Gallery</h1>
    <div class="col-md-4 col-sm-6 my-5">
      <div class="card">
        <img src="assets/image/V-img1.PNG" alt="">
        <video controls autoplay>
          <source src="assets/image/video1.mp4" type="video/mp4">
        </video>
        <div class="card-body">
          <h5 class="card-title text-center">Video 1</h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 my-5">
      <div class="card">
        <img src="assets/image/V-img3.PNG" alt="">
        <video controls autoplay>
          <source src="assets/image/video4.mp4" type="video/mp4">
        </video>
        <div class="card-body">
          <h5 class="card-title text-center">Video 2</h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 my-5">
      <div class="card">
        <img src="assets/image/V-img5.PNG" alt="">
        <video controls autoplay>
          <source src="assets/image/video6.mp4" type="video/mp4">
        </video>
        <div class="card-body">
          <h5 class="card-title text-center">Video 3</h5>
        </div>
      </div>
    </div>
  </div>
</div> -->

        

<div class="container-fluid video">
  <div class="row mt-5 px-5">
    <h1 class="h1-class text-center">Video Gallery</h1>
    <div class="col-md-4 col-sm-6 my-5" *ngFor="let video of videos">
      <div class="card">
        <img [src]="video.thumbnail" alt="">
        <video controls autoplay>
          <source [src]="video.videoSource" type="video/mp4">
        </video>
        <div class="card-body">
          <h5 class="card-title text-center">{{ video.title }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>



 
   